.wrapper{
    width: 100%;
    background-color: #eee;
    padding-top: 30px;
}

/* Centering the Rasdaman Banner */
.img-banner{
    width: 40%;
    height: auto;
}

.banner-div{
    padding-top: 30px;
    text-align: center;
}

.headingSlogan{
    display: none;
}

/* Centering the Rasdaman Slogan */
.img-slogan{
    font-size: 25px;
    color: #B31312;
} 

.slogan-div{
    text-align: center;
    padding-bottom: 30px;
}

.img-info{
    width: 100%;
}

.rasdaman-info{
    padding: 0px 30px 20px;
    font-family: sans-serif;
    font-size: 16px;
    color: #111;
    line-height: 24px;
}

.img-mundi{
    width: 100%;
    height: auto;
}

.navbar-logo{
    height: 40px;
}

.rasdaman-counter{
    width: 100%;
}

.footer{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.table-footer{
    background-color: white;
}


/* FontAwesome for working BootSnippet :> */

@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
#team {
    background: #eee !important;
}

.btn-primary:hover,
.btn-primary:focus {
    background-color: #B31312;
    border-color: #B31312;
    box-shadow: none;
    outline: none;
}

.btn-primary {
    color: #fff;
    background-color: #B31312;
    border-color: #B31312;
}

section {
    padding: 60px 0;
}

section .section-title {
    text-align: center;
    color: #B31312;
    margin-bottom: 50px;
    text-transform: uppercase;
}

#team .card {
    border: none;
    background: #ffffff;
}

.image-flip:hover .backside,
.image-flip.hover .backside {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
    border-radius: .25rem;
}

.image-flip:hover .frontside,
.image-flip.hover .frontside {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.mainflip {
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -ms-transition: 1s;
    -moz-transition: 1s;
    -moz-transform: perspective(1000px);
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
    position: relative;
}

.frontside {
    position: relative;
    -webkit-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    z-index: 2;
    margin-bottom: 30px;
}

.backside {
    position: absolute;
    top: 0;
    left: 0;
    background: white;
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    -webkit-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    -moz-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
}

.frontside,
.backside {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -moz-transition: 1s;
    -moz-transform-style: preserve-3d;
    -o-transition: 1s;
    -o-transform-style: preserve-3d;
    -ms-transition: 1s;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
}

.frontside .card,
.backside .card {
    min-height: 312px;
}

.backside .card a {
    font-size: 18px;
    color: #B31312 !important;
}

.frontside .card .card-title,
.backside .card .card-title {
    color: #B31312 !important;
}

.frontside .card .card-body img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

a_card-text{
    text-align: center;
}

@media only screen and (min-width: 768px){

    .wrapper{
        padding-top: 0px;
    }

    .navbar-logo{
        display: none;
    }

    .headingSlogan{
        display: flex;
        padding-bottom: 80px;
        padding-top: 80px;
        width: 95%;
    }

    .img-banner{
        width: 50%;
        height: auto;
    }

    .img-slogan{
        font-size: 3vw;
    }

    .banner-div{
        width: 50%;
        text-align: center;
        padding-top: 0px;
    }

    .slogan-div{
        width: 50%;
        text-align: left;
        padding-bottom: 0px;
    }

    .wrapper{
        width: 100%;
        margin: 0 auto;
    }

    .rasdaman-info{
        padding-top: 20px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .img-mundi{
        padding-top: 30px;
    }
}

@media only screen and (min-width: 1000px){
    .wrapper{
        width: 100%;
        padding-left: 0px;
        padding-right: 0px;
    }

    .slogan-div{
        padding-top:40px;
        padding-bottom: 40px;
    }

    .banner-div{
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .img-info{
        display: flex;
        padding-bottom: 50px;
        padding-top: 0px;
        align-items: center;
        padding-left: 60px;
        padding-right: 60px;
    }
        
    .img-mundi{
        padding-left: 30px;
    }

    .rasdaman-info{
        font-size: 18px;
        line-height: 26px;
        padding-top: 50px;
    }

    .headingSlogan{
        padding-top: 50px;
        padding-bottom: 50px;
    }
    
    /* dropdown on hover option */
    .dropdown:hover .dropdown-menu{
        display: block;
    }
}
